'scopeName': 'source.irule'
'fileTypes': [
  'tcl'
  'irule'
]
'foldingStartMarker': '^(when)'
'foldingStopMarker': '^}$'
'name': 'F5 Networks iRules'
'patterns': [
  {
    'include': '#comments'
  }
  {
    'include': '#event'
  }
  {
    'include': '#set_global_variables'
  }
  {
    'include': '#use_global_variables'
  }
  {
    'include': '#set_variables'
  }
  {
    'include': '#use_variables'
  }
  {
    'include': '#irule_commands'
  }
  {
    'include': '#tcl_commands'
  }
  {
    'include': '#ipv4_address'
  }
  {
    'include': '#ipv6_address'
  }
  {
    'include': '#subnet'
  }
]
'repository':
  'comments':
    'patterns': [
        'match': '#.*$'
        'name': 'comment.line.f5networks'
    ]
  'event':
    'patterns': [
      {
        'begin': '^\\s+(when)\\s'
        'beginCaptures':
          '1':
            'name': 'normal.character.f5networks'
        'end': '\\{'
        'patterns': [
          {
            'match': '(RULE_INIT|LB_.*|DB_.*|DIAMETER_.*|DNS_.*|FIX_.*|HTTP_.*|CLIENT_.*|SERVER_.*|CACHE_.*|SIP_.*|CLIENTSSL_.*|SERVERSSL_.*|X509_.*)'
            'name': 'entity.character.f5networks'
          }
        ]
      }
    ]
  'set_global_variables':
    'patterns': [
      {
        'match': '\\s+(set|append|incr)\\s+(\\w+::\\w+)'
        'captures':
          '1':
            'name': 'keyword.other.f5networks'
          '2':
            'name': 'string.regexp.f5networks'
      }
    ]
  'use_global_variables':
    'patterns': [
      {
        'match': '(\\$\\{?\\w+::\\w+\\}?)'
        'captures':
          '1':
            'name': 'string.regexp.f5networks'
      }
    ]
  'set_variables':
    'patterns': [
      {
        'match': '\\s+(set|append|incr|unset)\\s+(\\w+)\\s'
        'captures':
          '1':
            'name': 'keyword.other.f5networks'
          '2':
            'name': 'string.other.f5networks'
      }
    ]
  'use_variables':
    'patterns': [
      {
        'match': '(\\$\\{?\\w+\\}?)'
        'captures':
          '1':
            'name': 'string.other.f5networks'
      }
    ]
  'irule_commands':
    'patterns': [
      {
        'match': '(\\w+::\\w+|reject|log|connect)'
        'captures':
          '1':
            'name': 'constant.character.f5networks'
      }
    ]
  'tcl_commands':
    'patterns': [
      {
        'match': '(after|return|catch|scan|format|expr|string|binary)'
        'captures':
          '1':
            'name': 'keyword.other.f5networks'
      }
    ]
  'ipv4_address':
    'patterns': [
      {
        'match': '\\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b'
        'name': 'constant.numeric.f5networks'
      }
    ]
  'ipv6_address':
    'patterns': [
      {
        'match': '\\b([0-9a-fA-F]{0,4}|0)(\:([0-9a-fA-F]{0,4}|0)){1,7}\\b'
        'name': 'constant.numeric.f5networks'
      }
    ]
  'subnet':
    'patterns': [
      {
        'match': '(\\s(255|0)\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}|/\\d{1,2})'
        'name': 'string.regexp.f5networks'
      }
    ]
